.header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logout-icon {
    cursor: pointer;
    color: white;
  }

  /* Animación de fade-in */
@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: translateY(0); }
  }
  
  /* Configura la animación en las secciones */
  .section {
    animation: fadeIn 1s ease-out forwards;
  }
  
  